{% load static %}
{% load meus_filtros %}
{% block script_head %}<link rel="stylesheet" href="{% static 'global/css/css3_tab.css' %}">{% endblock script_head %} 
{% block script_footer %}{% endblock script_footer %} 








<!-- Modal -->

<div class="modal fade" id="modal_escola"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    {% include "Escola/partials/mensagens.html" %}
  <div class="modal-dialog w-100">
      <div class="modal-content bg-secondary-subtle">
          <div class="modal-header">
              <h4 class="modal-title fs-6"><span class="text-uppercase ml-5 fs-3 "><i style="font-size: 1.65rem;" class="fs-4 fa-solid fa-users-gear"></i> {{ titulo_page }} {{ matriculas.0.turma }} <i class="fa-solid fa-angles-right me-1 mx-1"></i> {{ matriculas|length }} alunos </span></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1">
            {% for t in trimestre %}
                <input type="radio" name="pcss3t" {% if t.id == 1 %} checked {% endif %} id="tab{{ t.id }}" class="{% if t.id == 1 %}tab-content-first{% else %}tab-content-{{ t.id }}{% endif %}">
                <label for="tab{{ t.id }}" class="col-2"><h1>{{ t.numero_nome }}</h1></label>
            {% endfor %}
        
            <ul>
                {% for t in trimestre %}                
                    <li class="tab-content {% if t.id == 1 %}tab-content-first {% else %}tab-content-{{ t.id }}{% endif %}  typography">   
                        {% include "Escola/partials/mensagens.html" %}
                        {% if t.final %}
                        <div class="alert alert-info" role="alert">
                            <h2>Área de Resultados Finais</h2>
                            Nessa área você pode verifica a situação acadêmica do aluno, que indica se ele foi aprovado ou reprovado. Essa seção inclui a <strong>Nota do Conselho de Classe</strong>, que reflete a avaliação geral, e a <strong>Nota de Recuperação</strong>, caso o aluno não tenha atingido a média necessária. Essas informações são essenciais para acompanhar o desempenho e as oportunidades de melhoria.
                        </div>                        
                        {% endif %} 
                        <table class="win11-table mt-5">
                            <thead>
                                <tr>
                                    <th rowspan="2">Nº</th>
                                    <th rowspan="2">nome</th>
                                    {% for d in disciplinas %}
                                        {% if t.final %}
                                            <th colspan="3" style="background-color: rgb(146, 161, 161) !important;color: rgb(2, 40, 73);">{{d.disciplina}}</th>
                                            {% else %}
                                                <th colspan="2" style="background-color: rgb(146, 161, 161) !important;color: rgb(2, 40, 73);">{{d.disciplina}}</th>
                                        {% endif %}
                                    {% endfor %}
                                    {% if t.final %}
                                        <th rowspan="2" >Situação do aluno</th>
                                        <th rowspan="2">Media anterior ao Conselho {{aluno.gestao_turmas_related.last.aprovado}}</th>   
                                        <th colspan="2">ação</th> 
                                        {% else %}  
                                        <th rowspan="2">ação</th>                                                                        
                                    {% endif %}
                                    
                                    
                                </tr>
                                <tr>
                                    {% for disciplina in disciplinas %}
                                    <th style="background-color: rgb(146, 161, 161) !important;color:black;">notas</th>
                                    <th style="background-color: rgb(218, 176, 201) !important;color: rgb(4, 45, 82);">faltas</th>
                                        {% if t.final %}
                                            <th style="background-color: rgb(218, 176, 201) !important;color: rgb(4, 45, 82);">recu</th>
                                        {% endif %}
                                    {% endfor %}
                                    {% if t.final %}
                                    <th rowspan="2" >Recuperação Final</th>   
                                    <th rowspan="2" >C. Classe</th>   
                                    {% endif %}                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for aluno in matriculas %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="col-3">{{ aluno.aluno }}</td>
                                        {% for disciplina in disciplinas %}
                                            <td class="text-center" style="width: 55px;background-color: rgb(233, 240, 240) !important;color: rgb(4, 45, 82);">
                                                {% for gestao_turma in aluno.gestao_turmas_related.all %}
                                                    {% if gestao_turma.grade == disciplina %}
                                                        {% if gestao_turma.trimestre_id == t.id %}
                                                            {% if not t.final  %}
                                                                {% if gestao_turma.notas is not None  %}
                                                                    {% if gestao_turma.notas < 5  %}
                                                                        <span class="text-danger">
                                                                            {% else %}
                                                                                <span class="text-primary">
                                                                        {% endif %}
                                                                            {{ gestao_turma.notas }}  
                                                                        </span>                                                               
                                                                    {% else %}
                                                                {% endif %} 
                                                                {% else %} 
                                                                {% if gestao_turma.media_final is not None  %}                                                                        
                                                                    {% if gestao_turma.media_final < 5  %}
                                                                        <span class="text-danger">
                                                                            {% else %}
                                                                                <span class="text-primary">
                                                                        {% endif %}
                                                                            {{ gestao_turma.media_final }}  
                                                                        </span>                                                               
                                                                    {% else %}
                                                                {% endif %} 
                                                            {% endif %}                                                          
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}                                                                                                    
                                            </td>    
                                            <td class="text-center " style="width: 55px;background-color: rgb(235, 223, 230) !important;color: rgb(4, 45, 82);">
                                                {% for gestao_turma in aluno.gestao_turmas_related.all %}
                                                    {% if gestao_turma.grade == disciplina %}
                                                        {% if gestao_turma.trimestre_id == t.id %}
                                                            {% if gestao_turma.faltas is not None %}
                                                                {{ gestao_turma.faltas}}
                                                                {% else %}
                                                            {% endif %}                                                            
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </td> 
                                            {% if t.final %} 
                                                <td class="text-center " style="width: 55px;background-color: rgb(235, 223, 230) !important;color: rgb(4, 45, 82);">
                                                    {% for gestao_turma in aluno.gestao_turmas_related.all %}
                                                        {% if gestao_turma.grade == disciplina %}
                                                            {% if gestao_turma.trimestre_id == t.id %}
                                                                {% if gestao_turma.recuperacao_final is not None %}
                                                                    {{ gestao_turma.recuperacao_final}}
                                                                    {% else %}
                                                                {% endif %}                                                            
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>   
                                            {% endif %}                                         
                                        {% endfor %}    
                                        {% if t.final %} 
                                            {% if aluno.gestao_turmas_related.last.aprovado  %}
                                                <td class='bg-primary-subtle'><i class="fa-solid fa-face-smile-beam"></i> Aprovado</td>
                                                {% else %}                                                
                                                    <td class='bg-danger-subtle '><i class="fa-solid fa-face-sad-cry"></i> Reprovado </td>                                                   
                                            {% endif %}  
                                            <td class='text-black'>
                                                {% comment %}
                                                    Este trecho de código verifica os registros de turmas do aluno. 
                                                    Ele garante que cada valor de 'conselho_classe' seja considerado apenas uma vez. 
                                                    Se o aluno foi aprovado (se 'conselho_classe' for True), ele então olha para todos os registros 
                                                    novamente e mostra a disciplina e a média anterior, mas só se essa média estiver disponível.
                                                {% endcomment %}
                                                {% for cons in aluno.gestao_turmas_related.all|unique_objects:'conselho_classe' %}
                                                    {% if cons.conselho_classe%}                                                        
                                                        {% for not in aluno.gestao_turmas_related.all%}
                                                            {% if not.media_anterior_conselho_classe is not None %}
                                                                {{not.grade.disciplina}}
                                                                {{not.media_anterior_conselho_classe}}
                                                            {% endif %}                                                    
                                                        {% endfor %} 
                                                    {% endif %}
                                                {% endfor %}                                                
                                            </td>
                                            <td><a class="btn win11-button fs-8" href="{% url 'Gestao_Escolar:recuperaFinal' aluno.id t.id %}"><i class="fa-thin fa-hundred-points text-light"></i> Recuperação final</a></td>
                                            <td><a href="" ><a class='text-black btn btn-sm btn-success ' href="{% url 'Gestao_Escolar:aprovaConselho' aluno.pk %}" title='Aprovar aluno pelo conselho'><i class="fa-sharp fa-thin fa-thumbs-up"></i></a></td>                                            
                                            {% else %}
                                                <td><a class="btn win11-button fs-8" href="{% url 'Gestao_Escolar:create_or_update_gestao_turmas' aluno.id t.id %}"><i class="fa-thin fa-hundred-points text-light"></i> Lançar ou Editar Notas</a></td>
                                        {% endif %}                                                                                
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                        
                    </li>
                {% endfor %}
            </ul>
        </div>
      </div>
  </div>
</div>