<h2>
Formulário de Cadastro de Pessoas para o Sistema Aprendix</h2>
<p>
Formulário de Cadastro de Pessoas para o Sistema Aprendix.
    Este formulário é projetado para registrar informações detalhadas sobre indivíduos, 
    facilitando a contratação de profissionais e o gerenciamento de decretos. Com ele, 
    o sistema pode manter um banco de dados atualizado e organizado para suportar processos 
    administrativos e operacionais.
</p>
<div class='p-2 fs-6 border-danger-subtle border-right  text-light bg-p-3' >
<form class='m-3 p-3 ' action="" method="post">
    {% csrf_token %}
    <div>
    {{ form.non_field_errors }}
    {% for field in form %}                                                      
    <section class="links">
        {{field.label_tag}}   
        <section class='d-flex'>
        {{field}}
        </section>
    </section>
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-sm btn-success w-100"> <i class="fa-light fa-people"></i> Cadastro de Pessoas</button>     
</form>                    
</div> 