{% extends 'gestao_escolar/template.html' %}
{% load static %}
{% block script_head %}
 {% include 'gestao_escolar/links_modal.html' %}
<script src="{% static 'select2/js/select2.full.min.js' %}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Importação da família de fontes Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="{% static 'global/css/geral_styler.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/modals.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/table_win11.css' %}" rel="stylesheet">
    <link href="{% static 'global/css/table_win11.css' %}" rel="stylesheet" media="print">
    

    <style>
        .anime-h{height: 5rem !important;}
    </style>
{% endblock script_head %} 

{% block main %}
<div class="shadow-sm p-3 mb-3  w-100 mt-5" >
    {% if messages %}                
    {% include 'Escola/partials/mensagens.html' %}          
  {% endif %}

    <div class=' p-4 h5 bg-p-3' style='margin:-1rem -1rem 0 -1rem'></div>    
      


<style>

    #openDialog_matriculaOnline {
        position: fixed; /* Fixa o elemento na tela */
        top: 25%; /* 30% do topo da tela */
        right: 1%; /* Alinha o elemento à direita */
        z-index: 9999; /* Garante que o elemento fique sobre todos os outros */
        background-color: rgba(148, 190, 127, 0.9); /* Fundo alaranjado semi-transparente */
        padding: 10px; /* Espaçamento interno */
        color: rgb(36, 1, 1); /* Cor do texto */
        border-radius: 5px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombras para profundidade */
        
        /* Animação de pulsação */
        animation: pulse 2s infinite; /* Aplique a animação de pulsação */
    }
    
    /* Efeito de pulsação (aumentar de tamanho) */
    @keyframes pulse {
        0% {
            transform: scale(1); /* Tamanho normal */
        }
        50% {
            transform: scale(1.1); /* Aumenta 10% do tamanho */
        }
        100% {
            transform: scale(1); /* Volta ao tamanho original */
        }
    }
    
    /* Efeito de piscar (opacidade) */
    @keyframes blink {
        0% {
            opacity: 1; /* Visível */
        }
        50% {
            opacity: 0; /* Invisível */
        }
        100% {
            opacity: 1; /* Visível novamente */
        }
    }
    
    /* Aplicar animação de piscar */
    #openDialog_matriculaOnline.blink {
        animation: blink 1s infinite; /* Animação de piscar */
    }
    
.imgMatricula {
    position: absolute; /* Posiciona a imagem acima do botão */
    top: -90px; /* Ajusta a distância entre a imagem e o botão, pode ser ajustado */
    width: 100px; /* Tamanho da imagem (ajuste conforme necessário) */
    height: auto; /* Mantém a proporção da imagem */
    left:1%;
}
 #cke_id_pendecia div div, #cke_id_pendecia div , #cke_id_pendecia {
    padding: 0!important;
}
label{
    text-transform: none!important;
}
#form_pendencia {
    position: relative;
    padding-top: 30px; /* Adicionando um padding para garantir que o texto não sobreponha o conteúdo */
    border: 1px solid #ddd; /* Bordas para a div */
    border-radius: 8px; /* Arredondando as bordas da div para um visual mais suave */
    margin-top: 5rem!important;
}

#form_pendencia::before {
    content: "Use o formulário abaixo para sinalizar que a matrícula não pode ser confirmada";
    position: absolute;
    top: -15px; /* Posicionando o texto ligeiramente acima da borda superior */
    left: 10px; /* Colocando o texto um pouco afastado da borda esquerda */
    right: 10px; /* Garantindo que o texto não ultrapasse a borda direita */
    background-color: #af48f3; /* Fundo leve para destacar o texto */
    padding: 8px 12px; /* Espaçamento interno para o texto */
    color: #eee7e7; /* Cor do texto */
    font-size: 14px; /* Tamanho de fonte adequado */
    border-radius: 8px 8px 0 0; /* Arredondando os cantos superiores para combinar com a borda da div */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adicionando sombra para dar um destaque */
}

</style>






{% if escolaMatriculaOnline %}
    {% if escolaMatriculaOnline|length >= 1 %}
        <button id="openDialog_matriculaOnline" title='Matrícula Pública' class='border-0  btn btn-sm  btn-light' style='margin:0 -1rem -1rem'>
            <img class='imgMatricula' src="{% static 'matONline.png' %}" alt="">
            ATENÇÃO! Matriculas Públicas   <br>
        </button>

        <dialog id="instructions_matriculaOnline" class="w-75 mt-5">
            <div class="alert  alert-dismissible fade show" role="alert">
                {{request.session.escola_MatriculaPublica}}
            </div>
            <div class="container mt-4">        
                <!-- genero--> 
                <div class="container mt-4">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">Atenção às Matrículas Realizadas</h4>
                        <p>A tabela abaixo contém todas as matrículas públicas feitas para a escola. 
                            É importante que as matrículas sejam analisadas com atenção, pois cada aluno foi alocado com base na série escolhida no momento da matrícula online. 
                            Após a verificação, é necessário remanejar os alunos para uma das turmas disponíveis na escola, conforme a série indicada.</p>
                        <hr>
                        <p class="mb-0">Por favor, verifique e atualize as informações para um melhor gerenciamento das turmas.</p>
                    </div>
                    
                    <table class="table table-bordered table-striped mt-3">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Série</th>
                                <th scope="col">Aluno</th>
                                <th scope="col">Data da Matrícula</th>
                                <th scope="col">Remanejamento</th>
                                <th>Situação</th>
                            </tr>                    
                        </thead>
                        <tbody>
                            {% for e in escolaMatriculaOnline %}
                                <tr>  
                                    <td>{{ e.serie }}</td>
                                    <td class="text-uppercase">{{ e.aluno }}</td>
                                    <td class="text-uppercase">{{ e.data_matricula }}</td>
                                    <td class="text-uppercase">

                                        <button id="openDialog_matriculaOnline_{{e.id}}" title='Matrícula Pública' class='border-0  btn btn-sm  btn-secondary' >                                            
                                            <i class="fa-regular fa-address-book"></i> Vê documentação do aluno <br>
                                        </button>
                                
                                        <dialog id="instructions_matriculaOnline_{{e.id}}" class="w-75 mt-5">
                                            <div class="alert  alert-dismissible fade show" role="alert">
                                                {{request.session.escola_MatriculaPublica}}
                                            </div>
                                            <div class="container mt-4">        
                                                <!-- genero--> 
                                                <div class="container mt-4">
                                                    <div class="alert alert-info" role="alert">
                                                        <h4 class="alert-heading">Atenção às Documentação do Aluno</h4>
                                                        <p >A <span class='text-lowercase'> tabela abaixo exibe as informações documentais fornecidas pelo aluno ou responsável durante a matrícula pública. 
                                                            Caso sejam encontradas inconsistências nas informações, você poderá solicitar ao responsável a correção das informações por meio do preenchimento do espaço reservado para correção. 
                                                            A matrícula poderá ser impugnada ou confirmada, condicionada à resolução das inconsistências na primeira semana de aula.</span></p>
                                                        <hr>
                                                        <p class="mb-0">Por favor, verifique e atualize as informações para garantir a conformidade e o bom andamento das matrículas.</p>
                                                    </div>   
                                                    {% for e in escolaMatriculaOnline %}
                                                    <!-- Botão de Impressão -->
                                                    <div class="text-end mt-4">
                                                        <button class="btn btn-success" onclick="imprimirConteudo_{{e.id}}()">Imprimir</button>
                                                    </div>
                                                
                                                    <div class="container mt-4 border p-5 shadow" id="conteudo-imprimir_{{e.id}}">
                                                        <!-- Dados do aluno -->
                                                        {% include 'Escola/impressos/timbre_veraCruz.html' %}
                                                
                                                        <div class="card mb-4 p-3" style="display: flexbox;">
                                                            <div class="card-header bg-primary text-white p-2">
                                                                <div class="row w-100">
                                                                    <!-- Foto do aluno -->
                                                                    <div class="col-2 text-center border p-2 mx-2" style="min-width: 30px;">
                                                                        {% if e.aluno.foto_aluno %}
                                                                            <img src="{{ e.aluno.foto_aluno.url }}" alt="Foto do Aluno" class="img-fluid rounded-circle" style="max-width: 200px;">
                                                                        {% else %}
                                                                            <p>Foto do aluno não disponível</p>
                                                                        {% endif %}
                                                                    </div>
                                                                    
                                                                    <!-- Título "Informações do Aluno" -->
                                                                    <div class="col text-left">
                                                                        <h4 style="text-transform: none;">Informações do Aluno</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                                            <!-- Dados do aluno -->
                                                            <div class="card-body text-left" style="text-transform: none; padding: 0.75rem;">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <p class="mb-1 text-capitalize"><strong>Nome Completo:</strong> {{ e.aluno.nome_completo }}</p>
                                                                        <p class="mb-1"><strong>Nome Social:</strong> {{ e.aluno.nome_social }}</p>
                                                                        <p class="mb-1"><strong>Gênero Sexual:</strong> {{ e.aluno.sexo }}</p>
                                                                        <p class="mb-1"><strong>Data de Nascimento:</strong> {{ e.aluno.data_nascimento }}</p>
                                                                        <p class="mb-1"><strong>Idade:</strong> {{ e.aluno.idade }} anos</p>
                                                                        <p class="mb-1"><strong>Etnia:</strong> {{ e.aluno.etnia }}</p>
                                                                        <p class="mb-1"><strong>Telefone:</strong> {{ e.aluno.tel_celular_aluno }}</p>
                                                                        <p class="mb-1"><strong>Email:</strong> {{ e.aluno.email }}</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-1"><strong>Endereço:</strong> {{ e.aluno.rua }}, {{ e.aluno.bairro }}, {{ e.aluno.cidade }}, {{ e.aluno.estado }}</p>
                                                                        <p class="mb-1 text-capitalize"><strong>Nome da Mãe:</strong> {{ e.aluno.nome_mae }}</p>
                                                                        <p class="mb-1"><strong>Telefone Mãe:</strong> {{ e.aluno.tel_celular_mae }}</p>
                                                                        <p class="mb-1"><strong>Nome do Pai:</strong> {{ e.aluno.nome_pai }}</p>
                                                                        <p class="mb-1"><strong>Telefone Pai:</strong> {{ e.aluno.tel_celular_pai }}</p>
                                                                        <p class="mb-1"><strong>Cidade de Nascimento:</strong> {{ e.aluno.naturalidade }}</p>
                                                                        <p class="mb-1"><strong>Estado de Nascimento:</strong> {{ e.aluno.estado_naturalidade }}</p>
                                                                        <p class="mb-1"><strong>Nacionalidade:</strong> {{ e.aluno.nacionalidade }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                
                                                        <!-- Condições Físicas e Saúde -->
                                                        <div class="card mb-4 p-3">
                                                            <div class="card-header bg-info text-white p-2">
                                                                <h4 class="text-left" style="text-transform: none;">Condições Físicas e Saúde</h4>
                                                            </div>
                                                            <div class="card-body text-left" style="text-transform: none; padding: 0.75rem;">
                                                                <p class="mb-1"><strong>Deficiência:</strong> {{ e.aluno.deficiencia_aluno }}</p>
                                                                <p class="mb-1"><strong>Tipo Sanguíneo:</strong> {{ e.aluno.get_tipo_sanguineo_display }}</p>
                                                                <p class="mb-1"><strong>Educação Especial Necessária:</strong> {% if e.aluno.necessita_edu_especial %} Sim {% else %} Não {% endif %}</p>
                                                                <p class="mb-1"><strong>Vacina Covid-19:</strong> {% if e.aluno.vacina_covid_19 %} Sim {% else %} Não {% endif %}</p>
                                                                <p class="mb-1"><strong>Doses da Vacina:</strong> {{ e.aluno.dose_vacina_covid_19 }}</p>
                                                                <p class="mb-1"><strong>Portador de Síndrome de Down:</strong> {% if e.aluno.sindrome_de_Down %} Sim {% else %} Não {% endif %}</p>
                                                                <p class="mb-1"><strong>Transtorno do Espectro Autista (TEA):</strong> {% if e.aluno.espectro_autista %} Sim {% else %} Não {% endif %}</p>
                                                            </div>
                                                        </div>
                                                
                                                        <!-- Documentação -->
                                                        <div class="card mb-4 p-3">
                                                            <div class="card-header bg-secondary text-white p-2">
                                                                <h4 class="text-left" style="text-transform: none;">Documentação</h4>
                                                            </div>
                                                            <div class="card-body text-left" style="text-transform: none; padding: 0.75rem;">
                                                                <p class="mb-1"><strong>RG:</strong> {{ e.aluno.RG }}</p>
                                                                <p class="mb-1"><strong>Emissão do RG:</strong> {{ e.aluno.RG_emissao }}</p>
                                                                <p class="mb-1"><strong>Estado de Emissão do RG:</strong> {{ e.aluno.RG_UF }}</p>
                                                                <p class="mb-1"><strong>Orgão Emissor:</strong> {{ e.aluno.orgao_emissor }}</p>
                                                                <p class="mb-1"><strong>Certidão de Nascimento:</strong> {{ e.aluno.numero_certidao }}</p>
                                                                <p class="mb-1"><strong>Data de Emissão da Certidão:</strong> {{ e.aluno.emissao }}</p>
                                                                <p class="mb-1"><strong>Cartório:</strong> {{ e.aluno.cartorio }}</p>
                                                                <p class="mb-1"><strong>Comarca:</strong> {{ e.aluno.comarca }}</p>
                                                            </div>
                                                        </div>
                                                
                                                        <!-- Informações Adicionais -->
                                                        <div class="card mb-4 p-3">
                                                            <div class="card-header bg-warning text-white p-2">
                                                                <h4 class="text-left" style="text-transform: none;">Informações Adicionais</h4>
                                                            </div>
                                                            <div class="card-body text-left" style="text-transform: none; padding: 0.75rem;">
                                                                <p class="mb-1"><strong>Renda Familiar:</strong> {{ e.aluno.renda_familiar }}</p>
                                                                <p class="mb-1"><strong>Beneficiário Auxílio Brasil:</strong> {% if e.aluno.beneficiario_aux_Brasil %} Sim {% else %} Não {% endif %}</p>
                                                                <p class="mb-1"><strong>Possui Irmãos Gêmeos:</strong> {% if e.aluno.irmao_gemeo %} Sim {% else %} Não {% endif %}</p>
                                                                <p class="mb-1"><strong>Cadastro Criado por:</strong> {{ e.aluno.res_cadastro }}</p>
                                                                <p class="mb-1"><strong>Cadastro Atualizado por:</strong> {{ e.aluno.res_atualiza_cadastro }}</p>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                
                                                    <!-- Formulário de Atualização -->
                                                     
                                                    <form method="post" class="border m-3 text-start p-4 bg-secondary-subtle" id="form_pendencia">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="matricula_id" value="{{e.id}}">     
                                                        {{form.media}}
                                                                                                   
                                                        {{form.as_p}}                                                        
                                                        <button type="submit" id="impugnar_button" style="display: none;"><i class="fa-regular fa-circle-xmark"></i>  Impugnar Matrícula</button>
                                                        <style>
                                                            #id_pendecia{
                                                                display: none!important;
                                                            }
                                                        </style>                                                        
                                                    </form>  
                                                    <a href="http://" id="confirMatricula_button">Confirmar Matricula <i class="fa-solid fa-check-double"></i></a>
                                                    
                                                {% endfor %}
                                                
                                                    
                                                    <!-- CSS para impressão -->
                                                    <style>
                                                        @media print {
                                                            body {
                                                                font-family: Arial, sans-serif;
                                                                font-size: 12px;
                                                            }
                                                            .container {
                                                                padding: 5px;
                                                            }
                                                            .card {
                                                                border: 1px solid #ddd;
                                                                page-break-inside: avoid;
                                                            }
                                                            .card-header {
                                                                background-color: #f7f7f7;
                                                                font-size: 18px;
                                                                font-weight: bold;
                                                            }
                                                            .card-body {
                                                                font-size: 16px;
                                                            }
                                                            .text-left {
                                                                text-align: left;
                                                            }
                                                            h4 {
                                                                font-size: 20px;
                                                            }
                                                            .mb-1 {
                                                                margin-bottom: 5px;
                                                            }
                                                            img {
                                                                max-width: 200px;
                                                                border-radius: 50%;
                                                            }
                                                        }
                                                    </style>
                                                    
                                                    <!-- JavaScript para impressão -->
                                                    <script>
                                                        function imprimirConteudo_{{e.id}}() {
                                                            var conteudo = document.getElementById("conteudo-imprimir_{{e.id}}").innerHTML;
                                                            var janelaImpressao = window.open('', '', 'height=800,width=600');
                                                            janelaImpressao.document.write('<html><head><title>Impressão</title>');
                                                            janelaImpressao.document.write('<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">');
                                                            janelaImpressao.document.write('<style>@media print {.container { padding: 10px; font-size: 14px;} }</style>');
                                                            janelaImpressao.document.write('</head><body>');
                                                            janelaImpressao.document.write(conteudo);
                                                            janelaImpressao.document.write('</body></html>');
                                                            janelaImpressao.document.close();
                                                            janelaImpressao.print();
                                                        }
                                                    </script>
                                                    <script>
                                                        function enabledPedencia_{{e.id}}(){
                                                            var impuganar_{{e.id}} = document.addEventListener(getElementById('id_impugnar'))

                                                        }
                                                    </script>
                                                       
                                                                                  
                                                    
                                                </div>
                                                
                                                
                                            </div>                    
                                            <button id="closeDialog_matriculaOnline_{{e.id}}" class="btn btn-secondary mt-5"><i class="fa-solid fa-angles-left"></i> Voltar</button>
                                        </dialog>  
                                        <script>
                                            const dialog_matriculaOnline_{{e.id}}= document.getElementById('instructions_matriculaOnline_{{e.id}}');
                                            const openButton_matriculaOnline_{{e.id}} = document.getElementById('openDialog_matriculaOnline_{{e.id}}');
                                            const closeButton_matriculaOnline_{{e.id}} = document.getElementById('closeDialog_matriculaOnline_{{e.id}}');
                                        
                                            openButton_matriculaOnline_{{e.id}}.addEventListener('click', () => {
                                                dialog_matriculaOnline_{{e.id}}.showModal(); // Abre a caixa de diálogo como modal
                                                });
                                        
                                            closeButton_matriculaOnline_{{e.id}}.addEventListener('click', () => {
                                                dialog_matriculaOnline_{{e.id}}.close(); // Fecha a caixa de diálogo
                                                });
                                        </script> 


                                        <script>
                                            // Seleciona os elementos do formulário
                                            const checkbox = document.getElementById('id_impugnar');
                                            const ckeditorDiv = document.querySelector('.django-ckeditor-widget');
                                            const button = document.getElementById('impugnar_button');
                                            const confirMatricula = document.getElementById('confirMatricula_button');

                                            // Inicializa a classe django-ckeditor-widget com style display: none !important
                                            ckeditorDiv.style.display = 'none';
                                            ckeditorDiv.style.setProperty('display', 'none', 'important'); // Força o !important

                                            // Adiciona um evento para verificar alterações no checkbox
                                            checkbox.addEventListener('change', function () {
                                            if (this.checked) {
                                                // Exibe a CKEditor div como inline-block e o botão
                                                ckeditorDiv.style.setProperty('display', 'inline-block', 'important');
                                                button.style.display = 'block';
                                                confirMatricula.style.display = 'none'
                                            } else {
                                                // Oculta a CKEditor div e o botão
                                                ckeditorDiv.style.setProperty('display', 'none', 'important');
                                                button.style.display = 'none';
                                                confirMatricula.style.display = 'block'

                                            }
                                            });
                                        </script>



                                    </td>
                                    <td>
                                        
                                        {% if e.impugnar %}
                                            <span class='fw-bold text-secondary'>Matricula com Incosistências:</span></br>
                                            {{e.pendecia|safe}}
                                            {% else %}
                                            Aguardando..
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}                                  
                        </tbody>
                    </table>                   
                </div>
                
                
            </div>                    
            <button id="closeDialog_matriculaOnline" class="btn btn-secondary mt-5">Fechar</button>
        </dialog>  
        <script>
            const dialog_matriculaOnline= document.getElementById('instructions_matriculaOnline');
            const openButton_matriculaOnline = document.getElementById('openDialog_matriculaOnline');
            const closeButton_matriculaOnline = document.getElementById('closeDialog_matriculaOnline');
        
            openButton_matriculaOnline.addEventListener('click', () => {
                dialog_matriculaOnline.showModal(); // Abre a caixa de diálogo como modal
                });
        
            closeButton_matriculaOnline.addEventListener('click', () => {
                dialog_matriculaOnline.close(); // Fecha a caixa de diálogo
                });
        </script> 
    {% endif %}   
{% endif %}






















        
   








        <div class=" rounded-top-2  bg-body-tertiary " style='margin:-1.2rem 0rem 1rem 0rem !important'>
            <div class='mb-2'>
                {% include 'gestao_escolar/navbars/index.html' %}    
            </div>
            <div class='mt-1 row w-100  ml-1 gap-3'>
                <div class="card text-left col">
                    <div class="card-header bg-info text-light text-uppercase" style='margin:0 -1rem'>                        
                        {% include "Escola/partials/resumos/resumos.html" %}
                    </div>
                    <div class="card-body">                        
                        <table class="win11-table">
                            <thead>
                                <tr>
                                    <th>Turmas</th>
                                    <th>Alunos matriculados</th>
                                    <th>Limite de Vagas</th>
                                    <th>Vagas disponíveis</th>
                                    <th>Autistas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for turma in request.session.matriculas_all %}
                                <tr>
                                    <td>{{ turma.nome }} <span class='text-uppercase'>{{ turma.descritivo_turma }}</span></td>
                                    <td>{{ turma.matriculas }}</td>
                                    <td>{{ turma.quantidade_vagas }}</td>
                                    <td>{{ turma.vagas_disponiveis }}</td>
                                    <td>{{ turma.autistas }}</td>
                                </tr>
                                {% endfor %}
                                
                                <!-- Linha de Totais -->
                                <tr class='bg-success-subtle text-black fs-2'>
                                    <td><strong>Total</strong></td>
                                    <td>{{ request.session.totais.total_matriculas }}</td>
                                    <td>{{ request.session.totais.total_vagas }}</td>
                                    <td>{{ request.session.totais.vagas_disponiveis_total }}</td> <!-- Vagas disponíveis calculadas -->
                                    <td>{{ request.session.totais.total_autistas }}</td>
                                </tr>
                            </tbody>
                        </table>                          
                    </div>
                </div>      
                
                <div class="card text-center col">
                    <div class="card-header bg-danger-subtle text-light text-start text-uppercase" style='margin:0 -1rem'>
                        <i class="fa-duotone fa-solid fa-chart-simple"></i> Gráficos
                    </div>
                    <div class="card-body"> 
                    </div>
                    <div class="card-footer text-muted">
                        {{graph|safe}}                      
                    <p>Data e horário do acesso: {{ now }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    {% if  conteudo_page == 'create_users'  %}
        {% include 'Escola/partials/usuarios/createUsers.html' %}
    {% endif %}
        <!-- End informações-->    
    {% if  conteudo_page == 'Nome das Escolas' %}
        {% include 'Escola/partials/seleciona_escola.html' %}
    {% endif %}
    {% if  conteudo_page == 'Ano Letivo' %}
        {% include 'Escola/partials/seleciona_anoLetivo.html' %}
    {% endif %}
    <!--Ao Inicio o Sistema-->
    {% if  conteudo_page == 'info_escola' %}
        {{contexto}}
    {% endif %}
    <!--Dados Escola-->
    {% if  conteudo_page == 'Atualiza Escola'  %}
        {% include 'Escola/partials/minhaEscola/seleciona_escola.html' %}
    {% endif %}
    {% if  conteudo_page == 'CreateEscola'  %}
        {% include 'Escola/partials/minhaEscola/createEscola.html' %}
    {% endif %}
    <!--Turmas-->
    {% if  conteudo_page == 'Criar Turmas' %}
        {% include 'Escola/partials/seleciona_turma.html' %}
    {% endif %}
    {% if  conteudo_page == 'Criar Turmas update' %}
        {% include 'Escola/partials/turmas/update_or_delete.html' %}
    {% endif %}
    {% if  conteudo_page == 'Registrar Alunos' %}
        {% include 'Escola/partials/seleciona_aluno.html' %}
    {% endif %}   
    {% if  conteudo_page == 'Registrar Alunos Documento' %}
        {% include 'Escola/partials/seleciona_aluno_documento.html' %}
    {% endif %}
    {% if  conteudo_page == 'Todas as matriculas' %}
        {% include 'Escola/partials/seleciona_matricula_turmas.html' %}
    {% endif %}  
    <!--Matriculas-->
    {% if  conteudo_page == 'Matricular Aluno' %}
        {% include 'Escola/partials/matriculas/seleciona_matricular_aluno.html' %}
    {% endif %} 
    {% if  conteudo_page == 'matricula_update_or_delete' %}
        {% include 'Escola/partials/matriculas/update_or_delete.html' %}
    {% endif %} 
    <!--Matriculas END-->

    {% if  conteudo_page == 'Remaneja Aluno' %}
        {% include 'Escola/partials/seleciona_matricular_remanejamento.html' %}
    {% endif %} 
    <!-- Professores -->
    {% if  conteudo_page == 'Professores' %}
        {% include 'Escola/partials/seleciona_professores.html' %}
    {% endif %} 
    {% if  conteudo_page == 'Professores-Pessoas' %}
        {% include 'Escola/partials/partials_professores/seleciona_pessoas.html' %}
    {% endif %} 
    {% if  conteudo_page == 'Professores-Pessoas-Vinculo' %}
        {% include 'Escola/partials/partials_professores/seleciona_pessoas-vinculo.html' %}
    {% endif %} 
    {% if  conteudo_page == 'seleciona_pessoas-vinculo_contrato' %}
        {% include 'Escola/partials/partials_professores/seleciona_pessoas-vinculo_contrato.html' %}
    {% endif %} 
    {% if  conteudo_page == 'encaminha_para_escola' %}
        {% include 'Escola/partials/partials_professores/encaminhamentos/encaminha_para_escola.html' %}
    {% endif %} 
    {% if  conteudo_page == 'encaminha_para_escola_deleteORupdate' %}
        {% include 'Escola/partials/partials_professores/encaminhamentos/update_or_delete.html' %}
    {% endif %} 

    <!-- Professores -->
    {% if  conteudo_page == 'Criar Disciplina' %}
        {% include 'Escola/partials/seleciona_disciplinas.html' %}
    {% endif %} 
    {% if  conteudo_page == 'Grades' %}
        {% include 'Escola/partials/seleciona_grades.html' %}
    {% endif %} 
    {% if  conteudo_page == 'QR_code' %}
        {% include 'Escola/partials/seleciona_qrCode.html' %}
    {% endif %} 
    {% if  conteudo_page == 'Turmas Escolha' %}
        {% include 'Escola/partials/seleciona_Turma_retorno_aluno.html' %}
    {% endif %} 
    
    <!--Pessoas para uso de decreto e outros-->
    {% if  conteudo_page ==  'Pessoa Create' %}
        {% include 'Escola/partials/pessoas/pessoa_create.html' %}
    {% endif %}
    {% if  conteudo_page ==  'Update_Delete' %}
        {% include 'Escola/partials/pessoas/update_or_delete.html' %}
    {% endif %}
    
    <!--PessoasContrato para uso de decreto e outros-->
    {% if  conteudo_page ==  'Contrato Create' %}
        {% include 'Escola/partials/pessoasContrato/pessoaContrato_create.html' %}
    {% endif %}
    {% if  conteudo_page ==  'Contrato Update_Delete' %}
        {% include 'Escola/partials/pessoasContrato/update_or_delete.html' %}
    {% endif %}

    
   
    <!--Decreto-->
    {% if  conteudo_page ==  'Decreto Create'  %}
        {% include 'Escola/partials/decreto/decreto_create.html' %}
    {% endif %}
    {% if  conteudo_page ==  'Decreto Update or Delete' %}
        {% include 'Escola/partials/decreto/decreto_create.html' %}
    {% endif %}  

    <!--Decreto ativo-->    
    {% if  conteudo_page ==  'Decreto Ativo' %}
        {% include 'Escola/partials/decreto/decreto_createAtivo.html' %}
    {% endif %}   
    
    <!--Grades-->
    {% if  conteudo_page == 'Todas as turmas-grade' %}
        {% include 'Escola/partials/grades/seleciona_grade_turma.html' %}
    {% endif %} 
    {% if  conteudo_page == "Updade_or_Delete Grade" %}
        {% include 'Escola/partials/grades/update_or_delete.html' %}
    {% endif %}
    <!--Grades End-->

    {% if  conteudo_page == 'cargos/funcionarios' %}
        {% include 'Escola/partials/selecionar_cargos_funcionarios.html' %}
    {% endif %}    
    {% if  conteudo_page == 'Gestão Turmas' %}
        {% include 'Escola/partials/gestao_turmas/gestao_.html' %}
    {% endif %}  
    {% if  conteudo_page ==  "Gestão Turmas - Notas Aluno"   %}
        {% include 'Escola/partials/gestao_turmas/notas.html' %}
    {% endif %}  
    <!-- Parecer Descritivo do Aluno-->
    {% if  conteudo_page ==  "Gestão Turmas - Parecer"   %}
        {% include 'Escola/partials/gestao_turmas/parecer_descritivo/parecer.html' %}
    {% endif %}  

    {% if  conteudo_page ==  "Gestão Turmas - Notas Update"   %}
        {% include 'Escola/partials/gestao_turmas/notasFORM.html' %}
    {% endif %}  
    {% if  conteudo_page ==  "Gestão Turmas - Notas Recupera Update"  %}
        {% include 'Escola/partials/gestao_turmas/notasRecuperForm.html' %}
    {% endif %}  

    {% if  conteudo_page ==  "Gestão Turmas - GerarHorario"   %}
        {% include 'Escola/partials/gestao_turmas/horarioAula.html' %}
    {% endif %} 
    {% if  conteudo_page ==  "Gestão Turmas - DefineValidadeHorario"   %}
        {% include 'Escola/partials/gestao_turmas/defineValidadeHorario.html' %}
    {% endif %} 

    
    <!--Impressos **************-->

    {% if  conteudo_page == "imprime_escolas" %}
        {% include 'Escola/partials/impressos/impresso_escolas.html' %}
    {% endif %}   
        
    {% if  conteudo_page == "imprime_turma" %}
        {% include 'Escola/partials/impressos/impresso_turmas.html' %}
    {% endif %}   
    {% if  conteudo_page == "imprime_turma_filtros"     %}
        {% include 'Escola/partials/impressos/impressoTurmasFiltros.html' %}
    {% endif %}   
    {% if  conteudo_page == "imprime_all_horario"     %}
        {% include 'Escola/partials/impressos/horarios/geral.html' %}
    {% endif %}   
    
    
        
    {% if  conteudo_page == "imprime_turma_matricula" %}
        {% include 'Escola/partials/impressos/impresso_turmas_matricula.html' %}
    {% endif %}   
    {% if  conteudo_page == "imprime_comprovante_matricula" %}
        {% include 'Escola/partials/impressos/impresso_comprovante_matricula.html' %}
    {% endif %}   
    <!--END Impressos **************-->
    {% if  conteudo_page == 'delete' %}
        {% include 'Escola/partials/seleciona_DELETE.html' %}
    {% endif %}    
    {% if  conteudo_page == 'update' %}
        {% include 'Escola/partials/seleciona_UPDATE.html' %}
    {% endif %}   
    <!-- Bairros -->
    {% if  conteudo_page == 'Criar Bairros' %}
        {% include 'Escola/partials/bairros/seleciona_bairros.html' %}
    {% endif %}    
    {% if  conteudo_page == 'update_or_delete' %}
        {% include 'Escola/partials/bairros/update_or_delete.html' %}
    {% endif %}     
    <!-- Cidade -->
    {% if  conteudo_page == 'Criar Cidade' %}
        {% include 'Escola/partials/cidade/seleciona_cidade.html' %}
    {% endif %}    
    {% if  conteudo_page == 'update_or_delete' %}
        {% include 'Escola/partials/cidade/update_or_delete.html' %}
    {% endif %}    
    <!--Ferramentas-->
    {% if  conteudo_page == 'imagem-docx' %}
        {% include 'Escola/partials/bairros/seleciona_bairros.html' %}
    {% endif %} 
    
    <!--Ferramentas-->
    {% if  conteudo_page == "freqenciaImpressa"  %}
        {% include 'Escola/partials/feriados_frequencia/calendario_mes.html' %}
    {% endif %} 

    <!--Documentos-->
    {% if  conteudo_page == "boletim"  %}
        {% include 'docsGestao_escolar/boletins/seleciona_turma_boletim.html' %}
    {% endif %} 
    {% if  conteudo_page == "boletim_aluno" %}
        {% include 'docsGestao_escolar/boletins/seleciona_aluno_boletim.html' %}
    {% endif %} 
    {% if  conteudo_page == "boletim_trimestral"%}
        {% include 'docsGestao_escolar/boletins/seleciona_trimestral_boletim.html' %}
    {% endif %} 

    <!--Errors 400, 403, 404, 500-->

    {% if  conteudo_page == "500" %}    
        {% include 'docsGestao_escolar/boletins/seleciona_trimestral_boletim.html' %}
    {% endif %} 

    <!--Matricula online-->
    {% if  conteudo_page == "Add Matricula Online"%}    
        {% include 'Escola/partials/escolaMatriculaOnline/adicionar_escola.html' %}
    {% endif %} 
    {% if  conteudo_page == "Add Series Online" %}    
        {% include 'Escola/partials/escolaMatriculaOnline/adicionar_serie.html' %}
    {% endif %} 
    
    
    
    
    
    <!-- Condiciionais-->
    {% if 'escola_id' not in request.session %}
        {% include 'Escola/partials/seleciona_escola.html' %}        
    {% endif %}
    {% comment "se existir professor" %}
    {% if not condicional_aluno.exists %}
        {% include 'Escola/partials/verifica_sem_registros/n_aluno.html' %}
    {% endif %}

    
    {% if not condicional_professor.exists %}
        {% include 'Escola/partials/verifica_sem_registros/n_professor.html' %}
    {% endif %}
    

    {% if not condicional_turma.exists %}    
        {% include 'Escola/partials/verifica_sem_registros/n_turma.html' %}
    {% endif %} 
    {% endcomment %}   
</div>
{% block script_footer %}
<script>
    $(document).ready(function(){
        $('#modal_escola').modal("show");

        // Adiciona um evento de clique ao botão de fechar
        $('.close, .modal').click(function(e) {
            if (e.target === this) {
                $('#modal_escola').modal('hide');
                window.location.href = "{% url 'Gestao_Escolar:GE_Escola_inicio' %}";
            }
        });
    });
</script>

<script>
    // Small using Bootstrap 5 classes
$("#form-select-sm").select2({
    theme: "bootstrap-5",
    dropdownParent: $("#form-select-sm").parent(), // Required for dropdown styling
});
</script>

<script>
var datepickers = [].slice.call(document.querySelectorAll('[data-datepicker]'))
var datepickersList = datepickers.map(function (el) {
    return new Datepicker(el, {
        buttonClass: 'btn'
    });
});
</script>
<!--Esconde e exibe detalhes-->
<script>
    function toggleDetails(button) {
        var details = button.nextElementSibling;
        if (details.style.display === "none" || details.style.display === "") {
            details.style.display = "block";
            button.innerHTML = "Fechar";
        } else {
            details.style.display = "none";
            button.innerHTML = "Leia mais...";
        }
    }
</script>  
{% endblock script_footer %} 
{% endblock main %}
