{% extends "merendaEscolar/estoque_base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>⚠️ Confirmar Exclusão</h2>

    <hr>

    <div class="alert alert-danger">
        Tem certeza que deseja excluir o cardápio:
        <strong>{{ object.nome }}</strong>?
    </div>

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">
            🗑️ Sim, excluir
        </button>

        <a href="javascript:history.back()" class="btn btn-secondary">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}