{% extends "modulo_professor/base.html" %}

{% block main %}  
<div class="imprimir bg-light rounded-3 shadow p-3">
    <div class="p-2 shadow-sm">
        <a class='btn btn-light no-visible-mobile' href="{% url 'modulo_professor:homeProfessor' %}"><i class="fa-solid fa-angles-left"></i> Voltar</a>
    </div>
    <!-- ALERTA EXPLICATIVO -->
    <div class="alert alert-info mt-4" role="alert">
        <h5 class="alert-heading">Registro de Frequência Diária</h5>
        <p>Para registrar a frequência diária dos alunos, clique na turma correspondente na lista abaixo.</p>
        <hr>
        <small class="text-muted">Em caso de dúvidas, entre em contato com a coordenação pedagógica da sua escola.</small>

    </div>
    <div class="list-group shadow-sm border border-success">
        {% for p in pessoa %}
        <a href="{% url 'modulo_professor:presenca_diaria' p.turma.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ p.turma }}</strong> | <b class='fw-bold'>{{ request.session.escola.sigla_escola }}</b>
            </div>
            <span class="badge bg-success rounded-pill p-3">
                Registrar presença diária
            </span>
        </a>
         {% endfor %}
    </div> 
</div>


{% endblock main %}