{% extends "modulo_professor/base.html" %}
{% load meus_filtros %}
{% block main %}
      <!-- Planning / Kanban -->
    <section class="planning">
      <div class="planning-header">
        <div><h3>Planejamento de Atividades</h3><div class="muted">Organize com método Kanban</div></div>
        <div class="flex">
          <button class="btn" id="btn-add-board">+ Novo Planejamento</button>
          <button class="btn" id="btn-add-task" style="background:#0ea5a3">+ Tarefa Rápida</button>
        </div>
      </div>

      <div class="boards" id="boardsContainer">
        <!-- default board will be created by script if none exists -->
      </div>
    </section>

    <!-- MURAL -->
    <section class="mural">
      <div class="mural-header">
        <div><h3>Mural Multidisciplinar</h3><div class="muted">Avisos e postagens</div></div>
        <div class="flex">
          <button id="btn-new-post" class="btn" style="background:#06b6d4">Nova postagem</button>
          <button id="btn-toggle-mural" class="btn" style="background:#94a3b8">Ocultar</button>
        </div>
      </div>

      <div class="mural-posts" id="muralPosts">
        <!-- initial posts -->
        <article class="post">
          <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?auto=format&fit=crop&w=1200&q=80" alt="">
          <div class="cap">Projeto Ciência Viva — Turma 7º ano apresentou experimentos.</div>
          <div class="post-actions">
            <button onclick="toggleCommentsSection(this)">💬 Comentários</button>
            <button onclick="likePost(this)">👍 Curtir</button>
          </div>
          <div class="comment-section">
            <div class="comment-row">
              <input type="text" placeholder="Escreva um comentário...">
              <button onclick="publishComment(this)">Publicar</button>
            </div>
            <div class="comments-list"></div>
          </div>
        </article>

        <article class="post">
          <img src="https://images.unsplash.com/photo-1516979187457-637abb4f9353?auto=format&fit=crop&w=1200&q=80" alt="">
          <div class="cap">Semana da Computação — inscrição aberta.</div>
          <div class="post-actions">
            <button onclick="toggleCommentsSection(this)">💬 Comentários</button>
            <button onclick="likePost(this)">👍 Curtir</button>
          </div>
          <div class="comment-section">
            <div class="comment-row">
              <input type="text" placeholder="Escreva um comentário...">
              <button onclick="publishComment(this)">Publicar</button>
            </div>
            <div class="comments-list"></div>
          </div>
        </article>
      </div>
    </section>





























































    













    {% endblock main %}