{% extends "modulo_aluno/base.html" %}
{% load static %}
{% block main %}
<style>
    #id_login_aluno, #id_senha{
        background-color: rgb(248, 124, 200)!important;
    }
    .form-section-title {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

</style>
<link rel="stylesheet" href="{% static 'global/css/form_win11.css' %}">
<div class="container p-4 bg-light text-muted " style=" color: #fff; border-radius: 8px; width:95vw; margin-top:5rem!important">
    <div class="container border-bottom" >
        <!-- Container para centralizar o conteúdo e garantir responsividade -->
        <div class="row align-items-center">
            <!-- Linha para organizar os elementos em colunas -->
            <div class="col-2 text-center mb-3">
                <img src="{% static 'SME - 2 PNG.png' %}" class="img-fluid" alt="Logo">
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
        </div>
    </div>
    <h2 class="h2 fs-5 mt-3">Aviso de Atualização de Cadastro</h2>

    <div class="container mt-1">
        <!-- Mensagem de aviso -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Atenção!</strong> Antes de realizar a matrícula do aluno, é necessário realizar a <strong>atualização do cadastro</strong>. 
            Isso é importante para garantir que todos os documentos estejam em ordem e para verificar se há alguma pendência.
        </div>
    </div>
    
    
    <form method="post" class='win11-form'>
        {% csrf_token %}        
        {% for error in form.data_nascimento.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %} 
        <h2 class="form-section-title">Filiação</h2>
        <div class="form-grid border p-2 m-2">  
            <div>
                {{form.nome_mae.error}}
                {{form.nome_mae.label}}
                {{form.nome_mae}}
            </div> 
            <div>
                {{form.tel_celular_mae.error}}
                {{form.tel_celular_mae.label}}
                {{form.tel_celular_mae}}
            </div>   
            <div>
                {{form.nome_pai.error}}
                {{form.nome_pai.label}}
                {{form.nome_pai}}
            </div>  
            <div>
                {{form.tel_celular_pai.error}}
                {{form.tel_celular_pai.label}}
                {{form.tel_celular_pai}}
            </div>
        </div>    
        <h2 class="form-section-title">Informações da Certidão</h2>
        <div class="form-grid border p-2 m-2">
            <div>
                {{form.estado_civil.error}}
                {{form.estado_civil.label}}
                {{form.estado_civil}}
            </div>   
            <div>
                {{form.tipo_certidao.error}}
                {{form.tipo_certidao.label}}
                {{form.tipo_certidao}}
            </div>  
            <div>
                {{form.numero_certidao.error}}
                {{form.numero_certidao.label}}
                {{form.numero_certidao }}
            </div>  
            <div>
                {{form.livro.error}}
                {{form.livro.label}}
                {{form.livro}}
            </div> 
            <div>
                {{form.folha.error}}
                {{form.folha.label}}
                {{form.folha}}
            </div>  
            <div>
                {{form.termo.error}}
                {{form.estado_naturalidade.label}}
                {{form.estado_naturalidade}}
            </div>      
            <div>
                {{form.emissao.error}}
                {{form.emissao.label}}
                {{form.emissao}}
            </div> 
            <div>
                {{form.distrito_certidao.error}}
                {{form.distrito_certidao.label}}
                {{form.distrito_certidao}}
            </div> 
            <div>
                {{form.distrito_certidao.error}}
                {{form.distrito_certidao.label}}
                {{form.distrito_certidao}}
            </div> 
            <div>
                {{form.distrito_certidao.error}}
                {{form.comarca.label}}
                {{form.comarca}}
            </div> 
            <div>
                {{form.cartorio_uf.error}}
                {{form.cartorio_uf.label}}
                {{form.cartorio_uf}}
            </div> 
        </div>

        
        
        
  
       

        
        <button type="submit" class="btn btn-win11-primary btn-lg">Próxima Etapa</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        // Aplicando a máscara de CPF (xxx.xxx.xxx-xx)
        $('#id_tel_celular_aluno').inputmask('(99) 9 9999 9999');        
        
        // Aplicando a máscara de NIS (xxxxxxxxxxxxxxx)
        $('#id_nis').inputmask('999.99999.999');

        // Aplicando mascara no NIS
        $('#id_cartao_nacional_saude_cns').inputmask('999.9999.9999.9999');
    });
</script>

{% endblock main %}



