{% extends "Admin_Acessos/base_template.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'global/css/form_win11.css' %}">
<div class="container p-4  " style="background-color: #343a40; color: #fff; border-radius: 8px; width:90vw">
    <h2 class="text-center mb-4">Pesquisar Aluno para Matrícula Online</h2>

    <h2>Cadastro de Aluno - Etapa 1</h2>
    <form method="post" class='win11-form row row-cols-2'>
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit">Próxima Etapa</button>
    </form>
</div>
{% endblock main %}
