{% extends "modulo_aluno/base.html" %}
{% load static %}
{% block main %}
<style>
    #id_login_aluno, #id_senha{
        background-color: rgb(248, 124, 200)!important;
    }
    .form-section-title {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

/* Estilo geral para o select */
    #id_espectro_autista{
      padding: 10px;
      font-size: 16px;
      font-family: Arial, sans-serif;
      border-radius: 8px;
      border: 2px solid #4CAF50; /* Cor suave mas chamativa */
      background-color: #f9f9f9; /* Fundo suave */
      transition: all 0.3s ease; /* Transição suave para interações */
      outline: none;
    }

    /* Efeito de foco - quando o usuário clica no campo */
    #id_espectro_autista:focus {
      border-color: #2196F3; /* Azul vibrante para indicar foco */
      box-shadow: 0 0 8px rgba(33, 150, 243, 0.5); /* Sombra sutil */
    }

    /* Estilo das opções no select */
    #id_espectro_autista option {
      padding: 10px;
      font-size: 16px;
    }

    /* Hover para melhorar a interação */
    #id_espectro_autista:hover {
      border-color: #388E3C; /* Verde mais forte quando o usuário passa o mouse */
    }

</style>
<link rel="stylesheet" href="{% static 'global/css/form_win11.css' %}">
<div class="container p-4 bg-light text-muted " style=" color: #fff; border-radius: 8px; width:95vw; margin-top:5rem!important">
    <div class="container border-bottom" >
        <!-- Container para centralizar o conteúdo e garantir responsividade -->
        <div class="row align-items-center">
            <!-- Linha para organizar os elementos em colunas -->
            <div class="col-2 text-center mb-3">
                <img src="{% static 'SME - 2 PNG.png' %}" class="img-fluid" alt="Logo">
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
        </div>
    </div>
    <h2 class="h2 fs-5 mt-3">Aviso de Atualização de Cadastro</h2>

    <div class="container mt-1 ">
        <!-- Mensagem de aviso -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Atenção!</strong> Antes de realizar a matrícula do aluno, é necessário realizar a <strong>atualização do cadastro</strong>. 
            Isso é importante para garantir que todos os documentos estejam em ordem e para verificar se há alguma pendência.
        </div>
    </div>
    
    
    <form method="post" class='win11-form'>
        {% csrf_token %}        
        {% for error in form.data_nascimento.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %} 
        <h2 class="form-section-title">Autismo</h2>
        <div class="form-grid border p-2 m-2">  
            <div>
                {{form.espectro_autista.error}}
                {{form.espectro_autista.label}}
                {{form.espectro_autista}}
            </div>                  
        </div>
        <h2 class="form-section-title">Informações Físicas e Biológicas do Aluno</h2>
        <div class="form-grid border p-2 m-2">  
            <div>
                {{form.deficiencia_aluno.error}}
                {{form.deficiencia_aluno.label}}
                {{form.deficiencia_aluno}}
            </div>  
            <div>
                {{form.tipo_sanguineo.error}}
                {{form.tipo_sanguineo.label}}
                {{form.tipo_sanguineo}}
            </div>             
            <div>
                {{form.vacina_covid_19.error}}
                {{form.vacina_covid_19.label}}
                {{form.vacina_covid_19}}
            </div>
            <div>
                {{form.dose_vacina_covid_19.error}}
                {{form.dose_vacina_covid_19.label}}
                {{form.dose_vacina_covid_19}}
            </div>
            <div>
                {{form.sindrome_de_Down.error}}
                {{form.sindrome_de_Down.label}}
                {{form.sindrome_de_Down}}
            </div>      
        </div>
        
        <button type="submit" class="btn btn-win11-primary btn-lg">Próxima Etapa</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        // Aplicando a máscara de CPF (xxx.xxx.xxx-xx)
        $('#id_tel_celular_mae').inputmask('(99) 9 9999 9999');        
        $('#id_tel_celular_pai').inputmask('(99) 9 9999 9999');        
        
        // Aplicando a máscara de NIS (xxxxxxxxxxxxxxx)
        $('#id_nis').inputmask('999.99999.999');

        // Aplicando mascara no NIS
        $('#id_cartao_nacional_saude_cns').inputmask('999.9999.9999.9999');
    });
</script>

{% endblock main %}



