{% extends "modulo_aluno/base.html" %}
{% load static %}
{% block main %}
<style>
    #id_login_aluno, #id_senha{
        background-color: rgb(248, 124, 200)!important;
    }
    .form-section-title {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

/* Estilo geral para o select */
    #id_espectro_autista{
      padding: 10px;
      font-size: 16px;
      font-family: Arial, sans-serif;
      border-radius: 8px;
      border: 2px solid #4CAF50; /* Cor suave mas chamativa */
      background-color: #f9f9f9; /* Fundo suave */
      transition: all 0.3s ease; /* Transição suave para interações */
      outline: none;
    }

    /* Efeito de foco - quando o usuário clica no campo */
    #id_espectro_autista:focus {
      border-color: #2196F3; /* Azul vibrante para indicar foco */
      box-shadow: 0 0 8px rgba(33, 150, 243, 0.5); /* Sombra sutil */
    }

    /* Estilo das opções no select */
    #id_espectro_autista option {
      padding: 10px;
      font-size: 16px;
    }

    /* Hover para melhorar a interação */
    #id_espectro_autista:hover {
      border-color: #388E3C; /* Verde mais forte quando o usuário passa o mouse */
    }

</style>
<link rel="stylesheet" href="{% static 'global/css/form_win11.css' %}">
<div class="container p-4 bg-light text-muted " style=" color: #fff; border-radius: 8px; width:95vw; margin-top:5rem!important">
    <div class="container border-bottom" >
        <!-- Container para centralizar o conteúdo e garantir responsividade -->
        <div class="row align-items-center">
            <!-- Linha para organizar os elementos em colunas -->
            <div class="col-2 text-center mb-3">
                <img src="{% static 'SME - 2 PNG.png' %}" class="img-fluid" alt="Logo">
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
            <div class="col">
                <!-- Coluna que ocupa 12 espaços na tela pequena -->
                <a class="nav-link btn border w-100 text-center" title="Atualizar Data de Nascimento | NIS | CNS" href="{% url 'Gestao_Escolar:cadastro_aluno_etapa2' request.user.userAluno_related.aluno.id %}">
                    <span class="fs-6">Data de Nascimento | NIS | CNS</span>
                </a>
                <!-- Usar w-100 para o link ocupar toda a largura da coluna e text-center para centralizar o texto -->
            </div>
        </div>
    </div>
    <div class="container mt-1 ">
        <!-- Mensagem de aviso -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h2 class="text-center">🎉 Bem-vindo à Área de Matrícula Online do Aluno! 🎓</h2>
            <p class="mt-3">
                É um prazer ter você aqui! Estamos comprometidos em ajudar a dar início a uma nova etapa educacional para o seu filho. 🌟<br>
                Para começar, basta selecionar a escola que melhor atende à sua localização e às necessidades da sua família. 🏫✨<br>
                Nosso objetivo é tornar esse processo simples, rápido e acolhedor, garantindo que o futuro educacional do seu filho comece com o pé direito. 🚀
            </p>
        </div>        
    </div>

    <div class="container mt-4">
        <div class="alert alert-info" role="alert">
            <strong>Seleção da Escola</strong>
            <p>Com base no bairro onde o aluno reside, as escolas disponíveis para a sua localidade estão listadas abaixo. Por favor, selecione a escola conforme a série escolar em que o aluno se encontra. Isso garantirá que o aluno seja matriculado na instituição mais adequada à sua série e localização, facilitando o acesso e o acompanhamento educacional.</p>
        </div>
    
        <div class="card">
            <div class="card-header">
                Escolas Disponíveis
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Escolas</th>
                            <th>Ano Letivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in escola %}
                        <tr>
                            <td>{{e}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        // Aplicando a máscara de CPF (xxx.xxx.xxx-xx)
        $('#id_tel_celular_mae').inputmask('(99) 9 9999 9999');        
        $('#id_tel_celular_pai').inputmask('(99) 9 9999 9999');        
        
        // Aplicando a máscara de NIS (xxxxxxxxxxxxxxx)
        $('#id_nis').inputmask('999.99999.999');

        // Aplicando mascara no NIS
        $('#id_cartao_nacional_saude_cns').inputmask('999.9999.9999.9999');
    });
</script>

{% endblock main %}
