{% extends "Admin_Acessos/base_template.html" %}

{% block main %}
<style>
    label{
        color:#343a40;                
    }
    .alert{
        color: #343a40;
    }
</style>
{% include "Escola/partials/mensagens.html" %}
    <div class="container p-4  " style="background-color: #343a40; color: #fff; border-radius: 8px; width: 30rem !important;">
        <h2 class="text-center mb-4">Pesquisar Aluno para Matrícula Online</h2>

        <p class="lead text-center mb-4">
            Olá! Para verificar se o aluno já está registrado em nosso sistema e facilitar a sua matrícula online, por favor, preencha as informações abaixo.
        </p>
        
        <div class="alert alert-info" role="alert">
            <strong>Importante:</strong> Verifique se os dados estão corretos antes de enviar. Se o aluno já estiver registrado, você será redirecionado para a página de matrícula.
        </div>
        
        <form method="post" class="text-start text-dark">
            {% csrf_token %}
            {{form.as_p}} 
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Pesquisar</button>
            </div>
        </form>
        
    </div>
{% endblock main %}

