{% extends "Admin_Acessos/base_template.html" %}

{% block main %}
<div class="container p-4  " style="background-color: #343a40; color: #fff; border-radius: 8px; width: 30rem !important;">
    <h2>Resultados da Pesquisa</h2>
    {% if alunos %}
        <ul class='text-start'>
            {% for aluno in alunos %}
                <li><a href="{% url 'Gestao_Escolar:matricular_aluno' aluno.id %}">{{ aluno.nome_completo }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aluno não encontrado. <a href="{% url 'Gestao_Escolar:cadastro_aluno_etapa1' %}">Clique aqui para cadastrar o aluno.</a></p>
    {% endif %}
</div>
{% endblock main %}
