{% include "Escola/partials/modal_partials/modal_top.html" %}
<style>
  .card-body{
    width: 100%;
  }
</style>
          {% if not update %}
            <section>
              <h2>Turmas Cadastradas - {{request.session.anoLetivo_nome}}</h2>
              <p>Esta seção apresenta a lista completa de todas as turmas registradas no sistema para o ano de {{request.session.anoLetivo_nome}}. Para adicionar novas turmas, clique no botão <strong class="fs-3">Criar +</strong>.</p>
            </section>          
            <ul class="nav nav-tabs" id="myTab" role="tablist">              
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="fs-4 fa-solid fa-people-roof"></i>Toda as Turmas</button>
                </li>
                
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Criar <i class="fa-solid fa-plus"></i> </button>
                </li>
                <li class="nav-item" role="imprimir">
                  <a class="btn btn-sm btn-primary mx-5" href='{% url "Gestao_Escolar:imprime_list_turmas" %}'>Imprimir turmas <i class="fa-solid fa-print text-light"></i> </a>
                </li>
            </ul>
              <div class="tab-content" id="myTabContent">
                {% include "Escola/partials/mensagens.html" %}
                {% if not update %}
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                  <div class='p-2 fs-6 border-danger-subtle border-right d-flex text-light bg-secondary' >
                    <div class=" p-1 mr-4 ">
                      <i class="fa-thin fa-tally "></i>
                      <span> Quantidades turmas: {{turmas | length}}</span>
                    </div>              
                      <!-- Exibir a paginação -->                                 
                  </div>
                  <table class="win11-table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Turma</th>                        
                        <th scope="col">Série</th>
                        <th scope="col">Multiseriada</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Vagas disponibilizadas</th>      
                        <th scope="col">Vagas Ocupadas</th>      
                        <th scope="col" class='text-center'>Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for n in turmas %}
                      <tr >                        
                        <td >{{forloop.counter}}</td>
                        <td class='text-uppercase '>{{n.nome}} - {{n.descritivo_turma}}</td>
                        <td>{{n.serie}}</td>
                        {% if turma_multiserie  %}
                        <td>Sim</td>
                        {% else %}
                        <td>Não</td>
                        {% endif %}
                        <td>{{n.turno}}</td>    
                        <td>{{n.ano_letivo}}</td>   
                        <td>{{n.quantidade_vagas}}</td>                   
                        <td>{{n.related_matricula_turma.all|length}}</td>  
                        <td class='text-center'><a class='btn btn-sm btn-info me-1' href="{% url 'Gestao_Escolar:GE_Escola_Turmas_update' n.pk %}"><span>Editar</span></a><a class='btn btn-sm btn-danger mx-1 ' href="{% url 'Gestao_Escolar:GE_Escola_Turmas_delete' n.pk %}"><span>Excluir</span></a></td>
                      </tr>    
                    {% endfor %}                
                    </tbody>                  
                  </table>
                </div>  
                {% endif %}            
                <div class="tab-pane fade bg-secondary-subtle" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <form class="m-5 p-3 border rounded shadow-sm bg-light  w-75 m-auto" action="" method="post">
    {% csrf_token %}

    <fieldset class="row g-3">
        <!-- Nome da Turma -->
        <section class="col-md-4">
            <label for="{{ form.nome.id_for_label }}" class="form-label">{{ form.nome.label }}</label>
            {{ form.nome }}
        </section>

        <!-- Descritivo -->
        <section class="col-md-4">
            <label for="{{ form.descritivo_turma.id_for_label }}" class="form-label">{{ form.descritivo_turma.label }}</label>
            {{ form.descritivo_turma }}
        </section>

        <!-- Série -->
        <section class="col-md-4">
            <label for="{{ form.serie.id_for_label }}" class="form-label">{{ form.serie.label }}</label>
            {{ form.serie }}
        </section>

        <!-- Turno -->
        <section class="col-md-4">
            <label for="{{ form.turno.id_for_label }}" class="form-label">{{ form.turno.label }}</label>
            {{ form.turno }}
        </section>

        <!-- Quantidade de Vagas -->
        <section class="col-md-4">
            <label for="{{ form.quantidade_vagas.id_for_label }}" class="form-label">{{ form.quantidade_vagas.label }}</label>
            {{ form.quantidade_vagas }}
        </section>

        <!-- Turma Multisseriada -->
        <section class="col-md-4 d-flex align-items-center">
            <fieldset class="form-check m-0">
                {{ form.turma_multiserie }}
                <label class="form-check-label" for="{{ form.turma_multiserie.id_for_label }}">
                    {{ form.turma_multiserie.label }}
                </label>
            </fieldset>
        </section>
    </fieldset>

    <section class="mt-4">
        <button type="submit" class="btn btn-success w-100 shadow-sm">
            Criar Turma <i class="fa-solid fa-people-roof"></i>
        </button>
    </section>
</form>

                </div>               
              </div>
              </div>
              {% else %}
              <form class='m-3 p-3' action="" method="post">
                {% csrf_token %}
                <div class="row row-cols-2">
                {{form.as_div}}  
                </div>
                <button type="submit" class="btn btn-sm btn-success w-100 mt-5">Criar Turma <i class="fa-solid fa-people-roof"></i></button>     
              </form>              
          {% endif %}
        </div>        
    </div>
    </div>
</div>
{% include "Escola/partials/utils/dragDrop.html" %}