{% load static %}
<!--
<div class="card text-center">
    <div class="card-header bg-danger text-light text-uppercase">
        ATENÇÃO {{request.user.first_name}} {{request.user.last_name}}<i class="fa-solid fa-exclamation"></i><i class="fa-solid fa-exclamation"></i>
    </div>
    <div class="card-body">
        <h5 class="card-title">Para dar continuidade, vamos precisar que você escolha uma escola que mais lhe agrada. 😊</h5>
        <button class="btn btn-primary" onclick="location.reload()">Selecionar Escola</button>        
    </div>
    <div class="card-footer text-muted">
        <p>Data e horário do acesso: {{ now }}</p>
    </div>
</div>    
-->
<!-- Modal -->
<div class="modal fade" id="modal_escola" style='background:#000'>
    {% include 'Escola/partials/mensagens.html' %}
    <div class="modal-dialog w-100">
    <div class="modal-content bg-secondary-subtle">
        <div class="modal-header">
        <h4 class="modal-title  fs-6"><i class="fa-regular fa-face-grin-squint"></i> Olá, seja muito bem-vindo, <span class="text-capitalize">{% if request.user.first_name %}{{request.user.first_name}} {{request.user.last_name}}{% else %}{{request.user}}{% endif %}!!</span></h4>        
        <form id="logoutForm" method="post" action="{% url 'admin_acessos:logout' %}">
            {% csrf_token %}
            <button type="submit" style="background-color: transparent !important; border: cadetblue 0.1rem solid !important;color: cadetblue !important;" class="mx-2"><i class="fa-thin fa-door-closed txt-p"></i> Sair</button>
        </form>
        </div>
        <div class="modal-body shadow-sm bg-light-subtle">
            <p class="m-0">Estamos felizes em tê-lo aqui!</p>
            <p class="m-0">Por favor, escolha uma das opções de escolas disponíveis:</p>       
            <ul class="list-group list-group-flush shadow shadow-sm rounded-start-3">
                <li class="list-group-item d-flex flex-column flex-sm-row justify-content-between align-items-end">
                    <div class="fs-6" >
                        <i class="fa-solid fa-school-flag fs-6 p-1"></i>                    
                        <select name="escola" id="form-select-sm" class="form-select">
                            {% for n in object_list %}
                                <option value="{{n.id}}">{{n.nome_escola}}</option> 
                            {% endfor %}                       
                        </select>
                    </div>           
                    <button class="btn btn-primary m-2" onclick="selecionaEscola()">Selecionar</button>
                </li>
                
            </ul>  
            <script>
                    function selecionaEscola(){
                        var selectElement = document.getElementById("form-select-sm");
                        var selectedId = selectElement.value;
                        if (selectedId){
                            window.location.href = "escolas/selecionar/" + selectedId + "/";
                        }
                    }            
            </script>
            {% comment "Animação Explica_Escola" %}
                {% include "Escola/partials/explica_escola.html" %} 
            {% endcomment %} 
        </div>
    </div>
</div>
</div>