{% block script_head %}


{% endblock script_head %}  
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'global/css/search.css' %}">
{% endblock css %}
{% include "Escola/partials/modal_partials/modal_top.html" %}                
    <ul class="nav nav-tabs" id="myTab" role="tablist">          
      <li class="nav-item bg-secondary-subtle" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Remanejar aluno dddddddddd <i class="fa-sharp fa-solid fa-plus text-info"></i></button>
      </li>
      <li>
        <a href="{% url 'Gestao_Escolar:GE_Escola_alunos_create' %}" class="nav-link">Adicionar aluno no sistema <i class="fa-sharp fa-solid fa-plus text-info"></i></a>
      </li>  
    </ul>   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"> <b class="text-uppercase fs-4"> {{turma_ativa}} </b></button>
      </li>
      {% if ativa == 'Grades' %}
      <li class="nav-item bg-secondary-subtle" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Adicionar disciplina à turma <i class="fs-4 fa-duotone fa-chart-network"></i> </button>
      </li>  
      {% endif %}
    </ul> 
    <div class="tab-content" id="myTabContent">           
      <div class="tab-pane fade bg-secondary-subtle  show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="form-group ">
          <div class=" p-2 d-flex" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;">
            {% for n in info_matrilula %}
            <div class=" mr-3"><b><i class="fa-thin fa-pen-line"></i> Nome do aluno:</b><span class="text-uppercase pl-1">{{n.aluno}}</span></div>
            <div class="mr-3 ml-3"><b><i class="fa-thin fa-pen-line"></i> Turma de origem:</b><span class="text-uppercase pl-1">{{n.turma}}</span></div>
            <div class="mr-3 ml-3"><b><i class="fa-thin fa-pen-line"></i> Matrícula realizada no dia:</b><span class="text-uppercase pl-1">{{n.data_matricula}}</span></div>
            {% endfor%}
          </div>
          <form method="post"class='m-3 p-3 row row-cols-2' >
            {{ form.non_field_errors }}
            {% csrf_token %}
            {% for field in form %}
              <section>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}                
              </section>
            {% endfor %}  
            <div id="id_aluno_matricula" class="mt-2">
              <p style="margin-bottom:-1rem !important" class="p-0 m-0">Escolha a turma para onde o aluno será remanejado.</p>.
              <a class="btn btn-sm btn-primary  w-100 p-2 m-0" href="{% url 'Gestao_Escolar:GE_Escola_Remaneja_update' pk_aluno %}">Escolher Turma <i class="fa-solid fa-people-roof bi fs-4"></i></a></div>
            <button id="button-some" class="btn btn-sm btn-primary h-25 p-2 mt-5 " type="submit">Confirmar Remanejamento aluno <i class="fa-sharp fa-regular fa-layer-plus"></i></button>
        </form>             
      </div>               
    </div>            
</div>
</div>
{% include "Escola/partials/modal_partials/modal_bottom.html" %}

<style>
  #id_aluno_matricula{
      display: none;
  }
</style>
{% block script_footer %}
<script>
  document.getElementById('id_tipo').addEventListener('change', function () {
      var tipoSelect = document.getElementById('id_tipo');
      var alunoMatricula = document.getElementById('id_aluno_matricula');
      var button_some = document.getElementById('button-some');
      var label_description = document.querySelector('label[for="id_description"]');
      var description = document.getElementById('id_description');

      if (tipoSelect.value === 'mudou_turma') {
          alunoMatricula.style.display = 'block';
          button_some.style.display = 'none';
          label_description.style.display = 'none';
          description.style.display = 'none';
      } else {
          alunoMatricula.style.display = 'none';
          button_some.style.display = 'block';
          label_description.style.display = 'block';
          description.style.display = 'block';
      }
  });
</script>

{% endblock script_footer %} 