{% load static %}

<header class="rcs-header" role="banner">
    <div class="rcs-header__inner rcs-glass">
      <div class="rcs-header__logo-wrap">        
        <img src='{% static "prefeitura.png" %}' width='80'>
        <div class="rcs-header__org">
          <div class="rcs-header__org-name">Prefeitura Municipal</div>
          <div class="rcs-header__org-sub">Secretaria de Educação</div>
        </div>
      </div>
  
      <h1 class="rcs-header__title">Laboratório de Jogos Educacionais · BNCC Computação</h1>
      <p class="rcs-header__subtitle">Recursos pedagógicos organizados por nível de ensino para apoiar o trabalho do professor.</p>
    </div>
  </header>