{% load static %}
<div style="max-height: 7rem; display:flex; justify-content: space-between" class='d-flex'>  
    <div id='prefeitura' style='margin:0.5rem; display:flex; width:auto '>
        <img style='margin-right:1rem; height:5rem' src='{% static "brasao-veracruz.png " %}' alt="" srcset="">
        <div style='font-size: 0.8rem;'>                    
            ESTADO DA BAHIA</br>
            Prefeitura Municipal de Vera Cruz</br>
            CNPJ:13.891.130/0001-03</br>
            Rua São Bento,123 – Centro – Mar Grande</br>
            Cep: 44.470-000 – Vera Cruz / Bahia www.veracruz.ba.gov.br</br>
        </div>                
    </div>
    <div id='sme' style='width:25%; padding-top:0.2rem'>                
        <img  src='{% static "SME - 2 PNG.png " %}' alt=""  style="height: 70% !important;"  srcset="">                
    </div>   
</div> 