<h2>Dados de Funcionamento</h2>
                      Obs.: Alguns campos possuem a atualização de dados automática com base nas informações das turmas.
                      <div>
                        <section>
                          {{escola_dados_form.data_fundacao.label_tag}}
                          {{escola_dados_form.data_fundacao}}    <br>
                          {{escola_dados_form.data_fundacao.error}}
                        </section>        
                        <section>
                          {{escola_dados_form.turno.label_tag}}
                          {{escola_dados_form.turno}}   <br>
                          {{escola_dados_form.turno.error}}
                        </section>     
                        <section>
                          {{escola_dados_form.num_alunos.label_tag}}
                          {{escola_dados_form.num_alunos}}  <br>
                          {{escola_dados_form.num_alunos.error}}
                        </section>    
                        <section>
                          {{escola_dados_form.num_funcionarios_n_docente.label_tag}}
                          {{escola_dados_form.num_funcionarios_n_docente}}  <br>
                          {{escola_dados_form.num_funcionarios_n_docente.error}}
                        </section>   
                        <section>
                          {{escola_dados_form.num_funcionarios_docente.label_tag}}
                          {{escola_dados_form.num_funcionarios_docente }}  <br>
                          {{escola_dados_form.num_funcionarios_docente.error}}
                        </section>    
                        <section>
                          {{escola_dados_form.num_funcionarios_total.label_tag}}
                          {{escola_dados_form.num_funcionarios_total }}<br>
                          {{escola_dados_form.num_funcionarios_total.error}}
                        </section>  
                        <section>
                          {{escola_dados_form.numero_turmas.label_tag}}
                          {{escola_dados_form.numero_turmas }}<br>
                          {{escola_dados_form.numero_turmas.error}}
                        </section>    
                      </div>
                      <h2>Dados da Infraestrutura</h2>
                      <div class="row row-cols-1 ">
                        <section class="row row-cols-4">
                          <section>
                            {{escola_dados_form.qtd_salas.label_tag}}
                            {{escola_dados_form.qtd_salas }}<br>
                            {{escola_dados_form.qtd_salas.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.qtd_bibliotecas.label_tag}}
                            {{escola_dados_form.qtd_bibliotecas }}<br>
                            {{escola_dados_form.qtd_bibliotecas.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.qtd_laboratorios.label_tag}}
                            {{escola_dados_form.qtd_laboratorios }}<br>
                            {{escola_dados_form.qtd_laboratorios.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.qtd_quadras.label_tag}}
                            {{escola_dados_form.qtd_quadras}}<br>
                            {{escola_dados_form.qtd_quadras.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.qtd_auditorios.label_tag}}
                            {{escola_dados_form.qtd_auditorios}}<br>
                            {{escola_dados_form.qtd_auditorios.error}}
                          </section> 
                          <section>
                            {{escola_dados_form.qtd_refeitórios.label_tag}}
                            {{escola_dados_form.qtd_refeitórios }}<br>
                            {{escola_dados_form.qtd_refeitórios.error}}
                          </section> 
                          <section>
                            {{escola_dados_form.qtd_areas_verdes.label_tag}}
                            {{escola_dados_form.qtd_areas_verdes }}<br>
                            {{escola_dados_form.qtd_areas_verdes.error}}
                          </section> 
                        </section>
                      </div>                  
                      <h2>Dados de Curso</h2>
                      <div class="row row-cols-1 ">
                        <section class="row row-cols-4">
                          <section>
                            {{escola_dados_form.possui_educacao_infantil.label_tag}}
                            {{escola_dados_form.possui_educacao_infantil}}<br>
                            {{escola_dados_form.possui_educacao_infantil.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.possui_ensino_fundamental.label_tag}}
                            {{escola_dados_form.possui_ensino_fundamental}}<br>
                            {{escola_dados_form.possui_ensino_fundamental.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.possui_ensino_medio.label_tag}}
                            {{escola_dados_form.possui_ensino_medio }}<br>
                            {{escola_dados_form.possui_ensino_medio.error}}
                          </section>  
                          <section>
                            {{escola_dados_form.possui_ensino_tecnico.label_tag}}
                            {{escola_dados_form.possui_ensino_tecnico}}<br>
                            {{escola_dados_form.possui_ensino_tecnico.error}}
                          </section>                            
                        </section>
                      </div>  
                      <h2>Dados de Convênios e Parcerias</h2>
                      <div>
                        <section>
                          {{escola_dados_form.convenios.label_tag}}
                          {{escola_dados_form.convenios}}<br>
                          {{escola_dados_form.convenios.error}}
                        </section>  
                      </div>
                      <h2>Dados de Segurança e Acessibilidade</h2>
                      <div>
                        <section>
                          {{escola_dados_form.possui_acessibilidade.label_tag}}
                          {{escola_dados_form.possui_acessibilidade}}<br>
                          {{escola_dados_form.possui_acessibilidade.error}}
                        </section>  
                        <section>
                          {{escola_dados_form.possui_sistema_seguranca.label_tag}}
                          {{escola_dados_form.possui_sistema_seguranca}}<br>
                          {{escola_dados_form.possui_sistema_seguranca.error}}
                        </section> 
                      </div>
                      <h2>Dados de Segurança e Acessibilidade</h2>
                      <div>
                        <section>
                          {{escola_dados_form.possui_acessibilidade.label_tag}}
                          {{escola_dados_form.possui_acessibilidade}}<br>
                          {{escola_dados_form.possui_acessibilidade.error}}
                        </section>  
                        <section>
                          {{escola_dados_form.possui_sistema_seguranca.label_tag}}
                          {{escola_dados_form.possui_sistema_seguranca}}<br>
                          {{escola_dados_form.possui_sistema_seguranca.error}}
                        </section> 
                        <section>
                          {{escola_dados_form.observacoes.label_tag}}
                          {{escola_dados_form.observacoes}}<br>
                          {{escola_dados_form.observacoes.error}}
                        </section> 
                      </div>



                    
                      
                    
                      <button type="submit" class="btn btn-sm btn-success w-100">Atualizar Outros <i class="fa-solid fa-people-roof"></i></button>     