<button id="openDialog_{{t.aluno.id}}_socio" title='Ver todos os contratos' class='border-0 bg-transparent'> <i class="fa-duotone fa-solid fa-eye text-primary"></i></button>
<dialog id="instructionsDialog_{{t.aluno.id}}_socio" class="w-75">
    <div class="container mt-4">      


        <div class="container mt-5">
            <h2 class="text-left text-primary">Dados a Inserir: Aspectos Socioemocionais do Aluno</h2>
        
            <p class="lead text-left text-dark">
                Ao preencher o campo "Aspectos Socioemocionais" no parecer descritivo, o professor deve considerar os seguintes dados essenciais:
            </p>
        
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="p-3 bg-light border rounded">
                        <h5 class="text-left text-secondary">Interação Social</h5>
                        <p>Avalie como o aluno se relaciona com colegas e adultos.</p>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="p-3 bg-info text-white border rounded">
                        <h5 class="text-left text-white">Gestão Emocional</h5>
                        <p>Observe a capacidade do aluno de reconhecer e lidar com suas emoções.</p>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="p-3 bg-warning text-dark border rounded">
                        <h5 class="text-left text-white">Empatia</h5>
                        <p>Registre a habilidade do aluno de compreender e respeitar os sentimentos dos outros.</p>
                    </div>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="p-3 bg-success text-white border rounded">
                        <h5 class="text-left text-white">Colaboração</h5>
                        <p>Inclua observações sobre como o aluno trabalha em grupo e ajuda os colegas.</p>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="p-3 bg-danger text-white border rounded">
                        <h5 class="text-left text-white">Resiliência</h5>
                        <p>Descreva a capacidade do aluno de superar desafios e se recuperar de dificuldades.</p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="p-3 bg-danger text-white border rounded">
                        <h5 class="text-left text-white">Dicas para o Registro</h5>
            <p class="text-left text-dark">
                - Seja específico ao descrever comportamentos e interações. <br>
                - Utilize exemplos concretos para ilustrar as observações. <br>
                - Considere o progresso emocional e social do aluno ao longo do tempo.
            </p>
                    </div>
                </div>
            </div>
        
            
        </div>
        






        <div class="">  
            <form class='ckeditor' action="{% url 'Gestao_Escolar:criaParecerAluno' tu.id t.id %}" id="aspectos_socioemocionais" method="post">
                {% csrf_token %}
                {{form.media}}
                <section class="border"> 
                {% for form in form %}                                                               
                    {% if form.trimestre.label == t.numero_nome%}
                        {{form.media}}
                        {{ form.aspectos_socioemocionais }}
                    {% endif %}                                             
                {% endfor %}  
                </section>                                                         
                <button id="b-cognitivo" class='mt-5'>Salvar informações</button>
            </form>                                                          
        </div>
    </div>                    
    <button id="closeDialog_{{t.aluno.id}}_socio" class="btn btn-secondary mt-5">Fechar</button>
</dialog>  
<script>
const dialog_socio = document.getElementById('instructionsDialog_{{t.aluno.id}}_socio');
const openButton_socio = document.getElementById("openDialog_{{t.aluno.id}}_socio");
const closeButton_socio = document.getElementById('closeDialog_{{t.aluno.id}}_socio');

openButton_socio.addEventListener('click', () => {
    dialog_socio.showModal(); // Abre a caixa de diálogo como modal
    });

closeButton_socio.addEventListener('click', () => {
    dialog_socio.close(); // Fecha a caixa de diálogo
    });
</script> 