{% block script_head %}


{% endblock script_head %}  
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'global/css/search.css' %}">
{% endblock css %}
{% include "Escola/partials/modal_partials/modal_top.html" %}      
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"> <b class="text-uppercase fs-4"> {{turma_ativa}} </b></button>
      </li>
      {% if ativa == 'Grades' %}
      <li class="nav-item bg-secondary-subtle" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Adicionar disciplina à turma <i class="fs-4 fa-duotone fa-chart-network"></i> </button>
      </li>  
      {% endif %}
    </ul>                
<div class="tab-content " id="myTabContent">
  <div class="tab-pane fade show active pl-4 pr-4" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">  
    {% if not ativa  %}  
          <div class="win11-search-wrapper bg-p-5 m-0 p-1 d-flex">
            <form action="?" method="GET" class="form-inline">
                {% csrf_token %}           
                <div class="win11-search-wrapper-inner">
                    <input type="text" class="win11-search-input" placeholder="Buscar turma" name="busca-turma"  name="busca-aluno">
                    <button class="win11-search-button" type="submit"><i class="fa-regular fa-user-magnifying-glass"></i></button>
                </div>
            </form> 
            <div class="win11-pagination">
              <span class="win11-step-links">
                  {% if turmas.has_previous %}
                      <a href="?page=1" class="win11-pagination-link">&laquo; Primeiro</a>
                      <a href="?page={{ turmas.previous_page_number }}" class="win11-pagination-link">Anterior</a>
                  {% endif %}
          
                  <span class="win11-current">
                      Página {{ turmas.number }} de {{ turmas.paginator.num_pages }}.
                  </span>
          
                  {% if matriculas.has_next %}
                      <a href="?page={{ turmas.next_page_number }}" class="win11-pagination-link">Próximo</a>
                      <a href="?page={{ turmas.paginator.num_pages }}" class="win11-pagination-link">Último &raquo;</a>
                  {% endif %}
              </span>
              <span class="win11-total-records">
                <i class="fa-thin fa-address-card"></i> Total de turmas cadastrados: {{ turmas.paginator.count }}
              </span>
            </div>
          </div> 
      {% else %}
    {% endif %}
    <table class="win11-table">
      {% if not ativa  %}
      <thead>
        <tr class="bg-p-2">
          <th>Ico</th>
          <th scope="col" class='text-left'>Turmas</th>
          <th scope="col">Série</th>
          <th scope="col">Turno</th>
          <th scope="col">Ano</th>             
          <th scope="col" class='text-center'>Ação</th>           
        </tr>
      </thead>
      <tbody>                
      {% for n in turmas %}
        <tr class="fs-5">
          <td><i class="fa-duotone fa-graduation-cap" style="--fa-primary-color: #0d5e1a; --fa-secondary-color: #18d838;"></i>{{forloop.counter}}</td>
          <td class='text-left text-uppercase'>{{n.nome}} {{n.descritivo_turma}}</td>                    
          <td >{{n.serie}}</td>
          <td >{{n.turno}}</td>
          <td >{{n.ano_letivo}}</td>
          <td class='text-center'><a class="btn btn-sm btn-success" href="{% url 'Gestao_Escolar:Grades_create' n.pk %} ">Criar Grade de disciplinas  <i class="fa-duotone fa-chart-network"></i></a></td>
          
        </tr>                    
      {% endfor %}                       
      </tbody>
      {% else %}
      <div class="text-end">
        <a class="btn btn-sm btn-secondary m-2" href="{% url 'Gestao_Escolar:Grades_turmas' %} "><i class="fa-regular fa-arrows-repeat"></i> Escolher outra turma 
        </a>
      </div>                    
      <thead>
        <tr>
          <th>Ico</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Professor</th>
          <th scope="col">Carga Horária Anual</th>
          <th scope="col">Limite de Faltas</th>             
          <th scope="col" class="text-center">Ação</th>           
        </tr> 
      </thead>  
      <tbody>               
      {% for n in turmas_disciplinas  %}
        <tr class="fs-5">
          <td><i class="fa-duotone fa-graduation-cap" style="--fa-primary-color: #0d5e1a; --fa-secondary-color: #18d838;"></i></td>
          <td class='text-align'>{{n.disciplina}}</td>                    
          <td class='text-align text-capitalize '>{{n.professor}}</td>
          <td class='text-align'>{{n.carga_horaria_anual}}</td>
          <td class='text-align'>{{n.limite_faltas}}</td>
          <td class='text-align d-flex text-center gap-2 c'><a href="{% url "Gestao_Escolar:Grades_update" n.pk %}" class='btn btn-primary'>Editar</a><a href="{% url 'Gestao_Escolar:Grades_delete' n.pk %}" class='btn btn-danger'>Excluir</a> </td>   
        </tr>    
      {% endfor %}  
      </tbody>                  
      {% endif%}  
    </table>



  </div>
  {% if ativa == 'Grades' %}
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="form-group ">
      {% include "Escola/partials/grades/explica_AddProfissionais.html" %}                    
      <form method="post"class='m-3 p-3 ' >                      
        <div class='m-3 p-3 bg-secondary-subtle'>
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
          {% if field.label == 'Selecione o professor:' or field.label == 'Selicione o professor se houver necessidade de atribuir mais um professor na turma:' or field.label == 'Selecione professores de Reserva Técnica, se houver necessidade:' or field.label == 'Selecione os auxiliares de classe, se houver necessidade:' %}                          
              <section>
                  <p class='m-0 p-0'>{{ field.label_tag }}</p>
                  <section class='d-flex border border-success'>
                    {{ field }}
                    <a class='btn btn-success m-2 ' href="{% url "Gestao_Escolar:pessoas-create" %}">Add Profissionais<i class="fa-solid fa-plus"></i></a>
                    {{ field.errors }}
                  </section>
              </section>                          
            {% else %}
            <section>
              <section>
                  <p class='m-0 p-0'>{{ field.label_tag }}</p>
                  {{ field }}
                  {{ field.errors }}
              </section>
            </section>
          {% endif %}
        {% endfor %}  
      </div>
        <button class="btn btn-sm btn-primary w-100 p-2 fs-3" type="submit"> Salvar <i class="fa-sharp fa-solid fa-floppy-disk-circle-arrow-right"></i></button>
    </form> 
  </div>  
  {% endif %}             
</div>
</div>
{% include "Escola/partials/modal_partials/modal_bottom.html" %}
        
{% include "Escola/partials/grades/multiselect.html" %}

